<h2>Productos</h2>
<div class="product-list">
  {{#each productos}}
    <div class="productItem">
      <h3>{{this.nombre}}</h3>
      <img src={{this.img}} alt="">
      <p>{{this.descripcion}}</p>
      <p>${{this.price}}</p>
    </div>
  {{/each}}
</div>